<div class="cards-show">
  <%# style = "background-image: url('#{@cocktail.image_url}'); background-size: cover;" if @cocktail.image_url %>
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
      <%= @cocktail.name %>
  </div>
  <div class="card-show">
    <h4>Ingredients</h4>
      <% @cocktail.doses.each do |dose| %>
            <%= dose.description %>
            <%= dose.ingredient.name %>
            <%= link_to icon("fas", "trash-alt"), dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>
            <br>
      <% end %>
  </div>
  <div class="card-show">
    <h4>Add a new ingredient</h4>
    <%= render "doses/ingredient_form" %>
  </div>
</div>
