<div class="cards-show">
  <% style = "background-image: url('#{@cocktail.image_url}'); background-size: cover;" if @cocktail.image_url %>
  <div class="card" style="<%= style %>">
      <%= @cocktail.name %>
  </div>
  <div class="card-show">
    <h4>Ingredients</h4>
      <% @cocktail.doses.each do |dose| %>
            <%= dose.description %>
            <%= dose.ingredient.name %>
            <%= link_to icon("fas", "trash-alt"), dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>
            <br>
      <% end %>
  </div>
  <div class="card-show">
    <h4>Add a new ingredient</h4>
    <%= render "doses/ingredient_form" %>
  </div>
</div>
